*


body {
    background-color: rgb(144, 190, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    
    margin-bottom: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    background-color: antiquewhite;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 4px;
}

main{
    background-color: rgba(137, 43, 226, 0.597);
    width: 30%;
    padding: 15px;
    margin: auto;
}