:root{
    --primary : #d7b1fa;
    --secundary : #eb8edf;
    --tertiary : #f0f8ff;
    
}

{
    margin: 0;
    border: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

body {
    background-color: var(--secundary)
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#card{
    background-color: #f0f8ff;
    width: 30%;
    padding: 70px;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    margin-bottom: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    
input{
    background-color: #fbfbfc;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 4px;
}

main {
    background-color: #a2e6f7;
    width: 20%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    width: 60px;
    height: 30px;
    background-color: rgb(228, 241, 237);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 6px;
    margin: 10px 0;

}
button:hover{
    background-color: rgb(160, 243, 78);
    color: rgb(0, 0, 0);
}